<main>
    <h2>Latest Articles</h2>
    <section class="blog-post">
      <a href="#">
        <img src="image1.jpg" alt="Blog post image">
      </a>
      <h3><a href="#">Title of First Post</a></h3>
      <p>Brief description of the post.</p>
      <a href="#">Read More</a>
    </section>
    
    <section class="blog-post">
      <a href="#">
        <img src="image2.jpg" alt="Blog post image">
      </a>
      <h3><a href="#">Title of Second Post</a></h3>
      <p>Brief description of the post.</p>
      <a href="#">Read More</a>
    </section>
    
    </main>
